.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 4.5em 1fr 2.5em;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.main {
  padding: .5em .5em .5em .5em;
  margin: 0em 0 0 0;
  grid-area: 2 / 1 / 3 / 2;
  background: url("images/white.jpg") center fixed;
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: row wrap;
  min-height: 30em;
  /* linear-gradient(rgba(136, 136, 136, 0.514), rgba(136, 136, 136, 0.514)),  */
}

.scroll {
  padding: .5em .5em .5em .5em;
  margin: 2em 2em 2em 2em;
  background: linear-gradient(rgba(51, 63, 72, 0.6), rgba(51, 63, 72, 0.6));
  border-radius: .5em;
  width: 100%;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.5em;
  padding: .7em .2em 0 .2em;
  margin: 0 0 0 0;
  grid-area: 1 / 1 / 2 / 2;
  background: linear-gradient(rgba(205, 207, 207, 0.479),rgba(204, 255, 0, 0.075)), url("images/paper2.jpeg");
}

#footer {
  padding: .2em 0 .2em 0;
  margin: 0 0 0 0;
  grid-area: 3 / 1 / 4 / 2;
  background: linear-gradient(rgba(204, 255, 0, 0.075), rgba(205, 207, 207, 0.274)), url("images/paper2.jpeg") top;
  text-align: center;
}

.title {
  font-family: 'Poiret One', cursive;
  color: white;
}

.center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 20em;
  height: 20em;
  color: white;
  border: solid .1em black;
  border-radius: .3em;
  margin: .5em .5em .5em .5em;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* background-image: url("images/GOURDS.jpg"); */
  /* transition: .5s ease; */
}

.card:hover {
  border-color: rgb(204, 255, 0)
}

.cardhover {
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.356),rgba(0, 0, 0, 0.356));
  width: 20em;
  height: 20em;
}

.card:hover .cardhover {
  display: flex;
}

.cardtext {
  margin: .5em .5em .5em .5em;
  /* display: flex; */
}

.cardlinks {
  /* width: 20em;
  padding: .5em .5em .5em .5em;
  margin: 0em 0em 0em 0em; */
  /* display: flex;
  align-self: flex-end; */
}

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
  border: none;
}

/* this is where box outline is */
.menu-toggle:hover,
.menu-toggle:focus {
  /* color: rgb(204, 255, 0); */
  text-decoration: none;
  outline: none;
  background: radial-gradient(rgba(204, 255, 0, 1), rgba(255, 255, 255, 0));
  border-radius: .9em;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
  text-decoration: none;
  border: none;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  /* -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5); */
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
  text-decoration: none;
  border: none;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
  border: none;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  color: rgb(204, 255, 0);
  /* background: rgb(204, 255, 0); */
  outline: none;
  border: none;
  /* text-decoration: underline; */
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target,
.main-menu[aria-expanded="true"] {
  left: 0;
  outline: none;
  border: none;
  /* -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25); */
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
  border: none;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
  border: none;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,.85);
  border: none;
  /* cursor: default; */
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/* #frost {
  background-image: url("images/frost.jpg");

}

#DEMBURGS {
  background-image: url("images/DEMBURGS.png");
} */

.sonia {
  font-family: 'Megrim', cursive;
  text-align: center;
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
}

.text {
  color: white;
}

#github {
  padding: 0em 2em 0em 2em;
}

#linkedin {
  padding: 0em 2em 0em 2em;
}

#email {
  padding: 0em 2em 0em 2em;
}

/* unvisited link */
.blacklink:link {
  color: black;
  text-decoration: none;
}

/* visited link */
.blacklink:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
.blacklink:hover {
  color: rgb(204, 255, 0);
  text-decoration: none;
}

/* selected link */
.blacklink:active {
  color: rgb(204, 255, 0);
  text-decoration: none;
}

/* unvisited link */
.whitelink:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.whitelink:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.whitelink:hover {
  color: rgb(204, 255, 0);
  text-decoration: none;
}

/* selected link */
.whitelink:active {
  color: rgb(204, 255, 0);
  text-decoration: none;
}

/* 
FONTS
font-family: 'Megrim', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif; 
*/