body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80% 1fr;
  grid-template-areas: "nav"
                           "main"  
                           "footer";
  font-family: 'Raleway', sans-serif;
}

.nav {
  grid-area: nav;
  background-color: blue;
}

.main {
  grid-area: main;
  background-color: yellow;
}

.footer {
  grid-area: footer;
  background-color: green;
}

/* 
FONTS
font-family: 'Megrim', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif; 
*/